@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.logo {
  margin: 10px 34px;
  display: grid;
  grid-column: 2/3;
  flex-direction: row;
  justify-content: flex-start;
}

.logo img {
  width: 75px;
  /* border: 10x solid red; */
  height: 67px;
  margin: 3px 0px;
  background-color: rgb(200, 194, 223);
  clip-path: circle();
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* navbar style start  */

.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  background-color: #a3b18a;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}



.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.menu-link ul li:hover>a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

.Facebook {
  color: #3b5998;
}

.Instragram {
  color: #c32aa3;
}

.Linkedin {
  color: #ff0000;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.btn {
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  background: #a3b18a;
  border: none;
  margin-left: 50%;
}

.btn:hover {
  background-color: white;
  border: 2px solid #a3b18a;
}

.Container {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 8px;
}

.left-side {
  color: #000;
  float: left;
  margin-left: 100px;
  margin-top: 100px;
}

.right-side {
  color: #000;
  height: 400px;
  width: 48%;
  float: right;
  margin-top: 20px;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
  .btn {
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #a3b18a;
    border: none;
    margin-left: 50%;
  }
  
  .btn:hover {
    background-color: white;
    border: 2px solid #a3b18a;
  }
  
  .Container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 8px;
  }
  
  .left-side {
    color: #000;
    float: left;
    margin-left: 3px;
    margin-bottom: -100px;
    font-size: 0.2rem;
  }

  .right-side {
    width: 48%;
    float: right;
    margin-top: -350px;
    margin-left: -50px;

  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .btn {
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #a3b18a;
    border: none;
    margin-left: 50%;
  }
  
  .btn:hover {
    background-color: white;
    border: 2px solid #a3b18a;
  }
  
  .Container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 8px;
  }
  
  .left-side {
    color: #000;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .right-side {
    color: #000;
    height: 400px;
    width: 48%;
    float: right;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .main-nav {
    height: 10rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo {
    height: 3rem;
  }

  .social-media ul {
    height: 5rem;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .btn {
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #a3b18a;
    border: none;
    margin-left: 50%;
  }
  
  .btn:hover {
    background-color: white;
    border: 2px solid #a3b18a;
  }
  
  .Container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 8px;
  }
  
  .left-side {
    color: #000;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .right-side {
    color: #000;
    height: 400px;
    width: 48%;
    float: right;
    margin-top: 20px;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 9rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo {
    height: 3rem;
  }

  .social-media ul {
    height: 5rem;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    margin-top: 25px;
    font-size: 2.5rem;
  }
  .btn {
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #a3b18a;
    border: none;
    margin-left: 50%;
  }
  
  .btn:hover {
    background-color: white;
    border: 2px solid #a3b18a;
  }
  
  .Container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 8px;
  }
  
  .left-side {
    color: #000;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .right-side {
    color: #000;
    height: 400px;
    width: 48%;
    float: right;
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 9rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .btn {
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #a3b18a;
    border: none;
    margin-left: 50%;
  }
  
  .btn:hover {
    background-color: white;
    border: 2px solid #a3b18a;
  }
  
  .Container {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 8px;
  }
  
  .left-side {
    color: #000;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .right-side {
    color: #000;
    height: 400px;
    width: 48%;
    float: right;
    margin-top: 20px;
  }

  /* hero section  */

  /* .hero-section h1 {
    font-size: 3.8rem;
  } */
}