.inputTag{
    height: 40px;
   width: 300px;
    border: none;
    border-radius: 10px;
}
.btn{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
}
.p1{
    color: red;
}