.container{
   /* border: 2px solid red; */
   margin: 30px;
   background-color: #b5838d;
   box-shadow: 0px 0px 6px  #b5838d;;
}
img{
    height: 30%;
    width: 30%;
    border-radius: 100%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px white;

}
h5 , p {
    color: black;
}

.btn{
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #b5838d ;

}